.settings-container {
  min-height: 100vh;
  background-color: #f1ccff;
  padding: 30px;
  font-family: 'Roboto', sans-serif;
}

.settings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.top-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links {
  display: flex;
  gap: 25px;
  font-size: 20px;
  color: black;
}

.settings-header h1 {
  flex: 1;
  padding: 12px 15px;
  border: 2px solid #000000;
  border-radius: 8px;
  font-size: 20px;
  color: #000000;
  background-color: white;
  max-width: 190px;
}

.profile-icon-large {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.profile-avatar-large {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}

.settings-form-container {
  display: grid;
  grid-template-columns: 1fr 100px;
  gap: 40px;
  border: none
}

.settings-form {
  border-radius: 12px;
  padding: 30px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  gap: 20px;
}

.form-group label {
  flex: 1;
  padding: 12px 15px;
  border: 2px solid #000000;
  border-radius: 8px;
  font-size: 1rem;
  color: #000000;
  background-color: white;
  max-width: 180px;
}

.form-input {
  flex: 1;
  padding: 12px 15px;
  border: 2px solid #000000;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s;
  color: #000000;
  background-color: white;
  max-width: 780px;
}

.password-group {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 1;
}

.change-password-btn:hover {
  background-color: #d5dbdb;
}

.form-select {
  flex: 1;
  padding: 12px 15px;
  border: 2px solid #000000;
  border-radius: 8px;
  font-size: 1rem;
  background-color: white;
  cursor: pointer;
  color: black;
  max-width: 780px
}

.form-select:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.1);
}

.form-actions {
  display: flex;
  gap: 15px;
  margin-top: 40px;
  padding-top: 20px;
  margin-left: 1100px; 
}

.form-actions button {
  min-width: 150px;
}

.settings-section {
  background-color: white;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  border: 1px solid #e0e0e0;
}
