body {
  margin: 0;
  min-height: 100vh;
  background-color: #f1ccff;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.login-container {
  width: 360px;
  padding: 28px 24px;
  background-color: #f7d9ff;
  border-radius: 18px;
  border: 2px solid #000;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  position: relative;
}

.login-container input {
background-color: white
}

.login-container .back-btn {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 36px;
  height: 36px;
  border: 2px solid #000;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.login-container .logo {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.login-container .logo img {
  width: 70px;
  height: 70px;
}

.login-container label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
}

.login-container input[type="email"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 2px solid #000;
  outline: none;
  font-size: 14px;
}

.login-container input:focus {
  border-color: #6a0dad;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  margin-bottom: 20px;
}

.login-options a {
  color: #000;
  font-weight: 500;
  text-decoration: underline;
}

.login-container button {
  width: 100%;
  padding: 12px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #eee;
}

.divider {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 24px 0;
  font-size: 13px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #000;
}

.social-login img {
  width: 50px; 
  height: 50px;
  object-fit: contain;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
}

.social-login {
  display: flex;
  gap: 10px; 
  justify-content: center;
  align-items: center;
}

.social-login button {
  flex: 1;
  height: 20px;
  border-radius: 10px;
  border: 2px solid #000;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2px;
}
