.dashboard-container {
  background-color: #EEBEFF;
  min-height: 100vh;
  padding: 20px;
  border-radius: 20px;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.top-nav img {
  max-width: 80px;
  max-height: 80px;
}

.nav-links {
  display: flex;
  gap: 25px;
  font-size: 20px;
  margin-right: 30%;
  color: black
}

.nav-links span {
  cursor: pointer;
  opacity: 0.7;
}

.nav-links .active {
  font-weight: bold;
  opacity: 1;
  border-bottom: 2px solid black;
}

.profile img {
  width: 60px;
  height: 60px;
  border-radius: 60%;
}

.content {
  display: flex;
  gap: 20px;
  font-size: 20px;
}

.sidebar {
  width: 260px;
  background: linear-gradient(#EEBEFF);
  border-radius: 20px;
  padding: 20px;
  border: 2px solid black;
}

.class-today {
  margin-top: 240px;
}

.class-card {
  background: rgba(197, 196, 197, 0.5);
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
}

.main-card {
  flex: 1;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 30px;
  color: black;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  min-height: 600px; 
  font-size: 20px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px 10px;
  flex-grow: 1;
  flex-direction: row;
  text-align: left;
  gap: 164px;
  max-width: 180px
}

.chart {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  margin-top: 20px;
  height: 240px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 20px;
  border: 2px solid black;
}

.bar {
  width: 30px;
  height: 80px;
  background: black;
  border-radius: 8px;
}

.bar.short {
  height: 50px;
}

.bar.medium {
  height: 100px;
}

.bar.tall {
  height: 120px;
}

.bar.tallest {
  height: 150px;
}